*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("background\ picture.png");
    
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    


}
img{
    z-index: 10;
}
a{
    text-decoration: none;
    color: black;
}

.nav-div>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-div{
    z-index: 1;
    display: flex;
    position: re;

    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    top: 0  ;
    padding-bottom: 100px;
    
}
.nav-div .div{
    display: flex;
    justify-content: space-between ;

}
.icon{
    width: 20px !important;
    height: 20px !important;
}
.page{
    display: inline-flexbox;
    justify-content: space-evenly;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 300px;
  
}
.page > .block1 > img{
    margin-left: 5px;
    display:flexbox;
    width: 210px;
}
.page > .block3 > img{
    height: 300px;
    margin-top: 10px;
    width: 440px;
}
.page > .block2 > img{
    padding-top: 5px;
}
.block1{
    display: inline-block;
    height: 500px;
    width: 455px;
    background-color: white;
 
    margin-left: 25px;
    flex-grow: 1;
    
}
.block2{
    display: inline-block;
    position: relative;
    height: 500px;
    width: 455px;
    background-color: white;
   
    margin-left: 25px;
    flex-grow: 1;
}
.block3{
    display: inline-block;
    position: relative;
    height: 500px;
    width: 455px;
    background-color: white;
   
    margin-left: 25px;
    flex-grow: 1;

}
.block4{
    display: inline-block;
    position: absolute;
    height: 200px;
    width: 375px;
    background-color: white;
    margin-left: 25px;
    flex-grow: 1;

}
.block4 button {
    margin-top: 30px;
    width: 350px;
    margin-left: 10px;
    height: 50px;
    background-color: rgb(255, 201, 100);
    border-radius: 20px;
    border: none;
}
.block5 {
    display: inline-block;
    position: absolute;
    height: 200px;
    width: 375px;
    margin-top:225px     ;
    margin-left: 25px;
    flex-grow: 1;

}


